@font-face {
    font-family: "Cursed Timer ULiL";
    src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    height: 100vh;
    margin: 0;
    background-image: url("./images/pexels-almadastudio-1390266.jpg");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: whitesmoke;
    font-size: 2rem;
}

.score {
    width: 155px;
    height: 120px;
    background-color: rgb(82, 82, 82);
    margin: 0 auto 20px auto;
    font-size: 5rem;
    font-family: "Cursed Timer ULiL";
}

p {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

#home-score {
    color: darkgoldenrod;
}

#away-score {
    color: crimson;
}

button {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    font-family: "Cursed Timer ULiL";
    font-size: 1.5rem;
    background-color: inherit;
    padding: 8px;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
    border: 2px solid lightblue;
    color: lightblue;
}

/* .mistakes-reset {
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    max-width: 800px;
    margin: 0 auto;
} */